


.ss_care_inner {
	padding: 0 85px 60px;
	position: relative
}
.ss_care_inner:after {
	content: "";
	background: #f7f7f7;
	border-radius: 32px;
	position: absolute;
	bottom: 0;
	top: 115px;
	left: 0;
	right: 0;
	z-index: -1
}
.subtech_care_left {
	background: #ef2e33;
	border-radius: 32px;
	padding: 0 60px;
	color: #fff;
	width: 658px;
	max-width: 100%
}
.comp_care_list {
	list-style: none;
	padding: 0;
	margin: 0
}
.comp_care_list li {
	padding: 56px 10px 56px 110px;
	position: relative;
	min-height: 150px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-bottom: 1px solid #f99fa2;
	font-size: 18px;
	font-weight: 600;
	line-height: 32px;
	text-transform: capitalize;
}
.comp_care_list li:last-child {
	border-bottom: 0
}
.comp_care_list li figure {
	width: 74px;
	height: 74px;
	position: absolute;
	left: 0;
	top: 50%;
	line-height: 74px;
	transform: translateY(-50%)
}
.comp_care_list li figure img {
	max-height: 60px
}
.form_box {
	background: #fff;
	border-radius: 32px;
	padding: 40px;
	margin-top: 15px;
}
.subtech_care_right {
	padding-left: 0px;
	padding-top: 50px
}
.crompton_care_sec .head_1 {
	margin-bottom: 60px
}
.form_box .btn_cmn {
	min-width: 250px
}
.form_box>h4 {
	font-size: 24px;
	margin-bottom: 5px
}
.form_box>p {
	font-size: 16px;
	margin-bottom: 25px
}
.form_box .form-control {
	height: 53px;
	border-width: 0 0 1px 0;
	border-color: #d2d2d2 !important;
	border-radius: 0;
	padding: 15px 15px 15px 0;
	box-shadow: none !important;
	font-size: 14px
}
.form_box .input-group-text {
	width: 33px;
	text-align: left;
	padding: 0;
	background: transparent;
	border-width: 0 0 1px 0;
	border-radius: 0
}
.form_box .input-group {
	margin-bottom: 25px
}
.get_touch_form_btn .btn_cmn {
	margin-top: 10px
}
.ss_care_linklist {
	background: #fff;
	border-radius: 32px;
	padding: 25px;
	margin-top: 50px
}
.ss_care_linklist ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center
}
.ss_care_linklist ul li {
	border-left: 1px solid #d2d2d2;
	padding: 0 70px 0 9px;
	display: inline-block;
	vertical-align: middle
}
.ss_care_linklist ul li:first-child {
	border-left: 0
}
.icon_left {
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #fff;
	border: 3px solid #fafafa;
	border-radius: 50%;
	margin-right: 16px;
	line-height: 74px;
	box-shadow: inset 8px 8px 8px #0000001a, 4px 8px 8px #0000001a
}
.ss_care_linklist ul li a {
	font-size: 18px;
	color: #ef2e33;
	font-weight: 500;
    text-transform: capitalize;
}
.ss_care_linklist ul li a svg,
.ss_care_linklist ul li a i {
	font-size: 19px;
	margin-left: 6px
}
.comp_care_list li br {
	display: none
}






























































































@media only screen and (max-width: 767px) {
   
   
   
	.ss_care_inner {
		padding: 0;
		background: #f1f1f1
	}
	.subtech_care_left {
		border-radius: 0;
		width: 100%
	}
	.ss_care_linklist {
		background: transparent;
		padding: 40px 20px;
		border-radius: 0;
		margin: 0
	}
	.ss_care_inner>.row {
		margin: 0
	}
	.ss_care_inner>.row>.col-md-6 {
		padding: 0
	}
	.ss_care_inner:after {
		display: none
	}
	.crompton_care_sec .head_1 {
		margin-bottom: 15px
	}
	.comp_care_list li figure img {
		-webkit-filter: brightness(100);
		filter: brightness(100)
	}
	.comp_care_list li {
		padding: 27px;
		border: 0;
		text-align: center
	}
	.comp_care_list li figure {
		position: inherit;
		transform: translate(0);
		margin: 0 auto 10px
	}
	.comp_care_list li {
		font-size: 12px;
		font-weight: 500;
		line-height: 16px;
		display: inline-block;
		width: 24%;
		vertical-align: top;
		position: relative;
		padding: 5px
	}
	.comp_care_list {
		width: 400px;
		max-width: 100%;
		margin: 0 auto
	}
	.subtech_care_left {
		padding: 15px 0;
		text-align: center
	}
	.comp_care_list li br {
		display: block;
		line-height: 0
	}
	.comp_care_list li:not(:first-child):before {
		content: "";
		width: 1px;
		top: 50%;
		height: 95px;
		background: #fff;
		position: absolute;
		left: 0;
		transform: translateY(-50%);
		opacity: .5
	}
	.ss_care_linklist ul li {
		padding: 0;
		display: block;
		border: 0;
		background: #fff;
		border-radius: 10px;
		text-align: left
	}
	.ss_care_linklist ul li+li {
		margin-top: 17px
	}
	.icon_left {
		text-align: center;
		margin-right: 10px
	}
	.ss_care_linklist ul li a {
		font-size: 16px;
		position: relative;
		display: block;
		padding: 20px 15px
	}
	.ss_care_linklist ul li a svg,
	.ss_care_linklist ul li a i {
		font-size: 18px;
		position: absolute;
		right: 36px;
		top: 50%;
		transform: translateY(-50%)
	}
	
}


